<html> 
    <head> {{ bootstrap.load_css() }} 
        <meta charset="UTF-8"> 
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}"> 
    
        <title>babaLISTE</title> 
    </head> 
    <body> 
        <h1>Einkaufsliste</h1>
        <h2>verfügbar {% for e in Einkaufsliste %}
            {{e}}
            {% endfor %}
        </h2>
    <div>
        <table>
            <tr>
              <th>Lebensmittel</th>
              <th>Menge</th>
              <th>gekauft</th>
            </tr>
            <tr>
              <td>banane</td>
              <td>22</td>
              <td>nein</td>
            </tr>
            <tr>
              <td>Gönergy</td>
              <td>324</td>
              <td>ja</td>
            </tr>
          </table>
    </div>
    </body>
    </html>